.titulo{
    color: black;
    text-align: center;
}

header{
    label{
        width: 100%;
        i{
            width: 100%;
            font-size: 50px;
            text-align: end;
        }
        span{
            width: 100%;
            font-size: 50px;
            text-align: end;
        }
    }
    
}

main{
    min-height: 85vh;

    h2{
        padding: 2rem 1rem;
        text-transform: uppercase;
    }

    button{

        background-color: #008BF7;
        border: solid 1px;
    }

}

.social label a {
    font-size: 30px;
    margin: 0px 5px;
    // color: #ffffff;
    line-height: 30px;
  }

.copy{
    line-height: 30px;
}

body{
    background-color: #008BF7;
}

.productos{

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    background-color: #343A40;
    h4{
        color: white
    }
}

.producto{
    margin:30px 5px;
}

#nosotros{

    line-height: 30px;
    img{
        height: 200px;
        width: 300px;
        margin: 0.5rem 1rem;
        object-fit: cover;
        border: solid 1px black;
    }
    h2{
        padding: 1rem 1rem;
    }
}

.foot{
    min-height: 15vh;
}

@media(max-width:767px){

    .productos{

        grid-template-columns: repeat(2, 1fr);

    }

}