.titulo{
    text-align: center;
}

header{
    h1{
        font-family: 'Lora', serif;
    }
    i{
        width: 100%;
        font-size: 50px;
        text-align: end;
    }
}

main{
    min-height: 110vh;

    h2{
        font-family: 'Lora', serif;
        padding: 2rem 0.5rem;
        text-transform: uppercase;
        color: white;
    }

}

.social label a {
    font-size: 30px;
    margin: 0px 5px;
    line-height: 30px;
  }

.copy{
    line-height: 30px;
}

body{
    background-color: #008BF7;
}

.nuestrosProductos{
    background-color:#343A40;
    button{
        
        background-color: #008BF7;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 11px;
        border: solid 1px black;
    }
    #ver{
        margin:0.5rem;
    }
}

.productos{

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    h4{
        color: black
    }
    .modelo{
        
        font-family: 'Lora', serif;
    }
    .precio{
        font-family: 'Lora', serif;
    }
    img{
        object-fit: cover;
    }
}

.producto{
    margin:30px 5px;
    padding: 10px 5px;
    background-color: white;
    border: black;
}
.producto:hover{
    box-shadow: 5px 5px 10px #008BF7;
}

.carrito{
    margin: 0.5rem;
    color: white;
    display: none;
}

#nosotros{

    line-height: 30px;
    img{
        height: 220px;
        width: 320px;
        margin: 0.5rem 1rem;
        object-fit: cover;
        border: solid 1px black;
    }
    h2{
        padding: 1rem 1rem;
    }
    p{
        color: white;
    }
}

.foot{
    margin-top: 1rem;
    min-height: 15vh;
    p{
        font-family: 'Lora', serif;
    }
}

@media(max-width:767px){

    .productos{

        grid-template-columns: repeat(2, 1fr);

    }

    #nosotros{
        img{
            height:250px;
            width: 350px;
        }
    }

}